* {
    box-sizing: border-box;
}

.body {
    margin: 0 auto;
    padding: 3px;
    background-color: #fff;
}

.game-container {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

.game-container header {
    display: flex;
    justify-content: center
}