* {
    box-sizing: border-box;
}

.body {
    margin: 0 auto;
    padding: 3px;
    background-color: #fff;
}

.game-container {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center
}

.instructions {
    background-color: #ececec;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
  
.instruction {
    width: 180px;
    padding: 2px;
    text-align: center;
}
  
.instructions h3 {
    font-size: 14px;
}